<h3>Agregar personas</h3>
<form method="POST" action="/person/add">
    <input type="text" name="name" placeholder="Nombre">
    <input type="submit" value="Enviar">
</form>


<h1>Lista de Personas</h1>
    <ul>
        <% persons.forEach(function(person){ %>
        <li><%=person.name %></li>
        <%}) %>
</ul>
